:root {
  --color-0: #ffffff; /* box color */

  --color-1: #fee9ec; 
  --color-2: #eee2fa; 
  --color-3: #ff3f46; /* main color */
  --color-4: #ff7a7a; /* sub  color */
  --color-5: #ffaeb5; 

  --logo-URL: url("https://kyunetic.github.io/vvorldvv/logo.png");
  --logo-Height: 70px;
  --logo-size-mobile: 90px 32px;

  --icon-URL: url("https://3.bp.blogspot.com/-gmX3Y_0jsoM/W6NvmAaUDOI/AAAAAAAAAME/ILPUW4pjgugQWk47-1TrPdmXWj0hI8KdgCLcBGAs/s1600/%25EC%25BB%25A4%25EA%25B5%25B4.png");
  --sub-comment: "명의 흑우들";
}
  --logo-Width: 158px;
